<import src="/templates/base.html">
    <fill name="title">
        <slot name="title"></slot>
    </fill>
    
    <fill name="body">
        <p><a href="/">Go back home</a></p>

        <h1>
            <slot name="title"></slot>
        </h1>

        <h2>The bad</h2>
        <div class="Example">
            <div class="Example__live">
                <slot name="bad"></slot>
            </div>
            <h3>
                <label for="bad">
                    Source code
                </label>
            </h3>

            <textarea id="bad" readonly class="Example__code" rows="15"><slot name="bad"></slot></textarea>
        </div>

        <details>
            <summary>What's wrong with this?</summary>
            <slot name="problems"></slot>
        </details>

        <h2>The good</h2>
        <details>
            <summary>Show solution</summary>
            <div class="Example">
                <div class="Example__live">
                    <slot name="good"></slot>
                </div>

                <h3>
                    <label for="good">
                        Source code
                    </label>
                </h3>
                <textarea id="good" readonly class="Example__code" rows="15"><slot name="good"></slot></textarea>
            </div>

            <h3>Improvements</h3>
            <slot name="improvements"></slot>
        </details>
    </fill>
</import>

<style>
    .Example {
        width: 100%;
        margin-bottom: 1em;
    }
    
    .Example__live {
        margin-bottom: 20px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px dashed gray;
    }

    .Example__code {
        width: 100%;
        overflow: visible;
        padding: 1em;
        font-size: 14px;
        color: white;
        background-color: #3f3f3f;
        border: none;
    }
</style>