<button
    class="GoodNotificationToggle"
    aria-label="Notifications"
    aria-description="There are 5 new notifications"
>
    🔔 5
</button>

<style>
    .GoodNotificationToggle {
        cursor: pointer;
        padding: 10px;
        font-size: 18px;
        vertical-align: middle;
        text-decoration: none;
        background-color:white;
        border: none;
        border-radius: 5px;
    }

    .GoodNotificationToggle:hover,
    .GoodNotificationToggle:focus {
        background-color: lightgreen;
    }
</style>
